#myPanel1{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: $gradient;
    z-index: 999;
    .cookie__floating__wrap{
        padding: 20px;
        .cookie__floating__content{
            h3{
                padding-bottom: 20px;
            }
            p{
                margin-top: 0px;
                font-size: 16px;
                a{
                    color: $white;
                    text-decoration: underline;
                }
            }
        }
        .cookie__floating__buttons{
            display: grid;
            grid-column-gap: 20px;
            justify-content: center;
            button{
                border-radius: 50px;
                font-family: Roboto,sans-serif;
                font-size: 12px;
                font-weight: 500;
                text-transform: uppercase;
                border: 1px solid #fff;
                transition: all .5s;
                height: 40px;
                width: 120px;
                color: $purple;
                cursor: pointer;
                &:hover{
                    background: transparent;
                    color: $white;
                }
            }
        }
    }
}

@media only screen and (min-width: $breakpointLarge){
    #myPanel1{
        max-width: 1420px;
        margin: 0 auto 10px;
        height: 180px;
        .cookie__floating__wrap{
            display: grid;
            grid-template-columns: auto 300px;
            align-content: center;
            .cookie__floating__content{
                p{
                    padding-bottom: 0px;
                }
            }
            .cookie__floating__buttons{
                grid-template-columns: unset;
                grid-row-gap: 30px;
                align-content: center;
                button{
                    width: 150px;
                    height: 50px;
                }
            }
        }
    }
}