$purple: #4F42E9;
$violet: #9C94F2;
$black: #17181D;
$white: #FFF;
$gradient: linear-gradient(43.63deg, $purple 2.28%, $violet 100%);

$breakpointSmall: 576px;
$breakpointMedium: 768px;
$breakpointLarge: 992px;
$breakpointXLarge: 1200px;
$breakpointXXLarge: 1400px;