.careers-main{
    .application-section{
        position: fixed;
        top: 0;
        bottom: 0;
        left: -250vw;
        right: 0;
        margin: auto;
        height: 100vh;
        width: 100vw;
        background: $black;
        z-index: 999;
        transition: 0.5s all;
        .application-container{
            height: 100%;
            padding-bottom: 0px;
            position: relative;
            .form-container{
                .form-container-upper{
                    display: grid;
                    grid-template-columns: auto 40px;
                    grid-column-gap: 30px;
                    padding-bottom: 30px;
                    .close{
                        height: 40px;
                        width: 40px;
                        position: relative;
                        cursor: pointer;
                        &:after{
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            content: "\d7";
                            font-size: 55px; 
                            color: $white;
                            text-align: center;
                            height: fit-content;
                            margin: auto;
                        }
                    }
                }
                .form-section{
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                    height: fit-content;
                    max-height: calc(100vh - 200px);
                    overflow-y: scroll;
                    form{
                        padding: 50px 0px;
                        input, select{
                            display: block;
                            background: transparent;
                            border: none;
                            text-align: left;
                            border-bottom: 1px solid $white;
                            margin: 0 auto;
                            color: $white;
                            outline: none;
                            text-align-last: left;
                            font-family: Roboto, sans-serif;
                            font-style: normal;
                            font-weight: 400;
                            font-size: 14px;
                            margin: 0px;
                            line-height: 20px;
                            height: 35px;
                            margin-bottom: 20px;
                            option{
                                color: $black;
                                text-align: left;
                            }
                            &::placeholder{
                                color: $white;
                            }
                        }
                        input{
                            width: 99%;
                        }
                        select{
                            width: 100%;
                        }
                        label, .hidden{
                            display: none;
                        }
                        .file-uploads{
                            display: grid;
                            grid-template-columns: repeat(2, 1fr);
                            grid-column-gap: 30px;
                            grid-row-gap: 30px;
                            padding-bottom: 30px;
                            .upload-section{
                                display: grid;
                                grid-template-rows: 120px auto;
                                grid-row-gap: 10px;
                                .file-input-label{
                                    display: grid;
                                    grid-template-rows: 120px auto;
                                    grid-row-gap: 10px;
                                    border: 1px solid $white;
                                    position: relative;
                                    cursor: pointer;
                                    input[type=file]{
                                        display: none;
                                    }
                                    span{
                                        position: absolute;
                                        top: 0;
                                        bottom: 0;
                                        left: 0;
                                        right: 0;
                                        margin: auto;
                                        height: 30px;
                                        width: 30px;
                                        text-align: center;
                                        font-size: 24px;
                                        border: 1px solid $white;
                                        border-radius: 50%;
                                        line-height: 30px;
                                    }
                                    &:hover{
                                        span{
                                            background: $gradient;
                                        }
                                    }
                                }
                                .upload-title{
                                    display: block;
                                    align-self: center;
                                    justify-self: center;
                                    text-align: center;
                                    word-break: break-all;
                                }
                            }
                        }
                        .submit-button{
                            button{
                                height: 100%;
                                width: 100%;
                                border-radius: 50px;
                                border: none;
                                background: transparent;
                                text-transform: uppercase;
                                cursor: pointer;
                                color: $white;
                                font-size: 12px;
                                font-weight: 500;
                                font-family: Roboto, sans-serif;
                                outline: none;
                            }
                        }
                        .form-message{
                            padding-top: 10px;
                            .error-message, .success-message{
                                color: $violet;
                                padding-bottom: 0;
                            }
                        }
                    }
                    &::-webkit-scrollbar-track, &::-webkit-scrollbar, &::-webkit-scrollbar-thumb{
                        display: none;
                    }
                }
            }
        }
        &.open{
            left: 0;
        }
    }
}

@media only screen and (min-width: 462px){
    .careers-main{
        .application-section{
            .application-container{
                .form-container{
                    .form-section{
                        form{
                            .file-uploads{
                                grid-template-columns: repeat(3, 1fr);
                                grid-column: 1/3;
                            }
                        }
                    }
                }
            }
        }
    }
}
                

@media only screen and (min-width: $breakpointSmall){
    .careers-main{
        .application-section{
            .application-container{
                .form-container{
                    .form-section{
                        form{
                            display: grid;
                            grid-template-columns: repeat(2, 1fr);
                            grid-column-gap: 30px;
                            select, .submit-button, .form-message{
                                grid-column: 1/3;
                            }
                            select, input{
                                margin-bottom: 30px;
                            }
                            .file-uploads{
                                grid-template-columns: repeat(3, 150px);
                                grid-column: 1/3;
                                .upload-section{
                                    max-width: 150px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: $breakpointLarge){
    .careers-main{
        .application-section{
            background: rgba(256, 256, 256, 0.4);
            .application-container{
                background: $white;
                max-height: 800px;
                max-width: 960px;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                padding: 0px;
                .form-container{
                    .form-container-upper{
                        width: 80%;
                        margin: 0 auto;
                        padding-top: 80px;
                        .application-details{
                            .application-title{
                                color: $black;
                            }
                        }
                        .close{
                            &::after{
                                color: $black;
                                font-size: 80px;
                            }
                        }
                    }
                    .form-section{
                        position: relative;
                        width: 80%;
                        margin: 0 auto;
                        padding-bottom: 80px;
                        form{
                            padding-top: 30px;
                            padding-bottom: 0px;
                            input, select{
                                border-bottom: 1px solid $black;
                                color: $black;
                                margin-bottom: 40px;
                                font-size: 18px;
                                option{
                                    color: $black;
                                    text-align: left;
                                }
                                &::placeholder{
                                    color: $black;
                                }
                            }
                            .file-uploads{
                                padding-bottom: 10px;
                                grid-template-columns: repeat(3, 200px);
                                grid-column: 1/3;
                                .upload-section{
                                    max-width: 200px;
                                    .file-input-label{
                                        border-color: $black;
                                        span{
                                            border-color: $black;
                                            color: $black;
                                        }
                                    }
                                    .upload-title{
                                        color: $black;
                                    }
                                }
                            }
                            .submit-button{
                                button{
                                    font-size: 14px;
                                }
                            }
                            .form-message{
                                .error-message, .success-message{
                                    color: $purple;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}