.home-main{
    .introduction-section{
        background-image: url('~assets/images/services-page/services-background.png');
        height: 500px;
        .introduction-inner-section{
            .introduction-container{
                .introduction-content{
                    .introduction-title{
                        padding-bottom: 20px;
                    }
                    .introduction-body{
                        padding-bottom: 15px;
                        max-width: 750px;
                        .separator{
                            color: $violet;
                        }
                        span{
                            font-size: 20px;
                            display: inline-block;
                            line-height: 25px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: $breakpointLarge){
    .home-main{
        .introduction-section{
            .introduction-inner-section{
                .introduction-container{
                    .introduction-content{
                        width: 100%;
                        .introduction-title{
                            padding-bottom: 40px;
                        }
                        .introduction-body{
                            padding-bottom: 40px;
                            a{
                                .button-text{
                                    display: inline;
                                    position: relative;
                                    overflow: hidden;
                                    &:after{
                                        content: "";
                                        position: absolute;
                                        right: 0;
                                        width: 0;
                                        bottom: 0;
                                        background: $gradient;
                                        height: 2px;
                                        transition-property: width;
                                        transition-duration: 0.3s;
                                        transition-timing-function: ease-out;
                                    }
                                    &:hover{
                                        &:after{
                                            left: 0;
                                            right: auto;
                                            width: 100%;
                                        }
                                    }
                                }
                            }
                            span{
                                font-size: 30px;
                                line-height: 50px;
                            }
                        }
                    }
                }
            }
        }
    }
}