.home-main{
    .tagline-section{
        background: $gradient;
        .tagline-container{
            text-align: center;
            max-width: 960px;
            margin: 0 auto;
            .tagline-text{
                font-family: Roboto, sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 30px;
                line-height: 38px;
            }
        }
    }
}

@media only screen and (min-width: $breakpointLarge){
    .home-main{
        .tagline-section{
            .tagline-container{
                padding: 160px 0px;
                .tagline-text{
                    font-size: 40px;
                    line-height: 50px;
                }
            }
        }
    }
}