.home-main{
    .technical-section{
        .technical-container{
            padding-top: 40px;
            .technical-title{
                padding-bottom: 30px;
                padding-top: 0px;
            }
            .technical-list{
                padding-left: 5%;
                padding-bottom: 80px;
                .slick-slider{
                    .single-technical{
                        height: 300px;
                        border: 1px solid $white;
                        width: 96% !important;
                        transition: 0.5s all;
                        position: relative;
                        outline: none;
                        .single-technical-content{
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            margin: auto;
                            width: 80%;
                            height: fit-content;
                            .technical-icon{
                                padding-bottom: 15px;
                                text-align: center;
                            }
                            .technical-title{
                                padding-bottom: 15px;
                                text-align: center;
                            }
                            .technical-text{
                                padding-bottom: 0px;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: $breakpointLarge){
    .home-main{
        .technical-section{
            .technical-container{
                padding-bottom: 140px;
                .technical-title{
                    padding-bottom: 80px;
                    text-align: center;
                }
                .technical-list{
                    width: 90%;
                    margin: auto;
                    max-width: 1420px;
                    padding: 0px;
                    .slick-slider{
                        .single-technical{
                            height: 400px;
                            width: 98% !important;
                            margin-left: 0.5%;
                            .single-technical-content{
                                .technical-icon{
                                    padding-bottom: 30px;
                                }
                                .technical-title{
                                    padding-bottom: 30px;
                                }
                            }
                        }
                        .slick-arrow{
                            top: 20px;
                            bottom: 0;
                            margin: auto;
                            height: fit-content;
                            border-radius: 50%;
                            background: $gradient;
                            transition: 0.35s ease-out;
                            height: 30px;
                            width: 30px;
                            z-index: 2;
                            &:before{
                                line-height: 11px;
                            }
                            &:hover{
                                background: $hoverGradient;
                            }
                        }
                        .slick-prev{
                            left: -38px;
                            &:before{
                                content: '\276E';
                            }
                        }
                        .slick-next{
                            right: -30px;
                            &:before{
                                content: '\276F';
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: $breakpointXLarge){
    .home-main{
        .technical-section{
            .technical-container{
                .technical-list{
                    .slick-slider{
                        .slick-arrow{
                            height: 40px;
                            width: 40px;
                        }
                        .slick-prev{
                            left: -45px;
                        }
                        .slick-next{
                            right: -40px;
                        }
                    }
                }
            }
        }
    }
}